{% extends 'college/admin_base.html' %}
{% load static %}
{% block content %}
<style>
    footer {
        text-align: center;
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
<body class="hero"><br><br><br>
<section id="contact"  class="contact">
    <div class="container"> </div>
    <h2 class="box-heading">Contact Us</h2>
    <br>
    <p>If you have any questions or inquiries, please feel free to contact us.</p>
</br>
    <p>Email : adyasingh2734@gmail.com </p>
</br>
    <p>Phone Number : +91 8394977860</p>
</section>
</body>

{% endblock content %}