{% extends 'college/student_base.html' %}
{% load static %}
{% block content %}

<style>
    footer {
        text-align: center;
        background-color: #333;
        color: #fff;
        padding: 10px 0;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
</style>
<body class="hero"><br><br><br>
<section id="about" class="about">
    <div class="container">
        <div class="centered-paragraph">
            <h2 class="box-heading">About Us</h2>
            <p>Welcome to SRM Event Connect, your ultimate destination for seamless event management on campus! We are the heartbeat of SRM University's vibrant event scene, connecting students, faculty, and staff to create unforgettable experiences. We are not just event managers; we're memory-makers.</p>
            <br>
            <p>With our finger on the pulse of campus life, we ensure that your events are planned, organized, and executed flawlessly. Our mission is to facilitate and elevate campus events, providing the support and resources needed for success.</p>
            <br>
            <p>Our secret sauce? It's a potent blend of experience, creativity, and innovation. We don't follow trends; we set them. We don't just meet expectations; we exceed them. And we don't just create events; we create moments that people talk about for years to come.</p>
            <br>
            <p>Your canvas is waiting; let's fill it with color, excitement, and memories that will last a lifetime. Get ready to connect, create, and celebrate like never before.</p>
            <br>
        </div>
    </div>
</section>



</body>

{% endblock content %}